.footer-social_link {
    color: grey;
    transition: color 0.3s ease;
}

.footer-social_link:hover {
    color: white;
    transform: scale(1.1);
}

.list-nav{
    text-decoration: none;
    color: white;
}
.list-nav:hover {
    font-weight: bold;
    text-decoration: underline;
}
